<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Prenota esame'}); %>
<body>

<div class="btn-group btn-group-lg w-100 p-3">
    <a class="btn btn-primary active">Prenota Esame</a>
    <a class="btn btn-primary" href="/registrations">Iscrizioni</a>
    <a class="btn btn-primary" href="/passed">Libretto</a>
</div>
<div class="container w-100">
    <h2 class="float-right"><%= locals.nome %> <%= locals.cognome %></h2>
</div>


<div class="container">

    <h2>Prenota Esame</h2>
    <%- include('partials/error.ejs', {action: 'exams'})%>
    <% if(locals.myExams.length == 0) {%>
        <h2 class="text-center">Nessuna esame disponibile</h2>
    <% } %>
    <% for(var i=0; i < locals.myExams.length; i++) {%>
    <div class="container border border-primary rounded" id=<%=locals.myExams[i]._id%> >
        <form method="post">
            <h2> <%= locals.myExams[i].nome %> </h2>
            <input type="hidden" name="idEsame" value=<%= locals.myExams[i]._id%>>
            <input type="hidden" name="nomeEsame" value=<%= locals.myExams[i].nome%>>
            <input type="hidden" name="studente" value=<%= locals.matricola%>>
            <input type="hidden" name="data" value="<%= locals.myExams[i].data%>">
            <button type="submit" class="btn btn-primary float-right">Iscriviti</button>
            <h4> <%= locals.myExams[i].data.getDate() %>/<%= locals.myExams[i].data.getMonth() + 1 %>/<%= locals.myExams[i].data.getFullYear() %> </h4>
            <h4> Posti: <%= locals.myExams[i].postiLiberi %> / <%= locals.myExams[i].postiTot %> </h4>

        </form>
    </div>
    <% } %>

</div>

</body>
</html>