<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {title: 'Prenota Esame'}); %>
    <link href="css/student.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="fixed-top">
<%- include('partials/user.ejs'); %>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded w-100">
            <a class="navbar-brand"><i class="material-icons">school</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/exams">Prenota Esame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registrations">Iscrizioni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/passed">Libretto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container student">
    <h2 class="text-center">Prenota Esame</h2>
    <%- include('partials/error.ejs', {action: 'exams'})%>
    <% if(locals.myExams.length === 0) {%>
        <h3 class="text-center">Nessun esame disponibile</h3>
    <% } %>
    <% for(var i=0; i < locals.myExams.length; i++) {%>
    <div class="container border border-primary rounded exam" id=<%=locals.myExams[i]._id%> >
        <form method="post">
            <div class="row">
                <div class="col-10">
                    <h3> <%= locals.myExams[i].nome %> </h3>
                    <input type="hidden" name="idEsame" value="<%= locals.myExams[i]._id%>">
                    <input type="hidden" name="nomeEsame" value="<%= locals.myExams[i].nome%>">
                    <input type="hidden" name="studente" value="<%= locals.matricola%>">
                    <input type="hidden" name="data" value="<%= locals.myExams[i].data%>">
                    <h5 class> <%= locals.myExams[i].data.getDate() %>/<%= locals.myExams[i].data.getMonth() + 1 %>/<%= locals.myExams[i].data.getFullYear() %> </h5>
                    <h5 class> Posti: <%= locals.myExams[i].postiLiberi %> / <%= locals.myExams[i].postiTot %> </h5>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-lg btn-primary">Iscriviti</button>
                </div>
            </div>

        </form>
    </div>
    <% } %>
</div>
</body>
</html>