<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Libretto'}); %>
<body>
<%- include('partials/user.ejs'); %>

<div class="btn-group btn-group-lg w-100 p-3">
    <a class="btn btn-primary" href="/exams">Prenota Esame</a>
    <a class="btn btn-primary" href="/registrations">Iscrizioni</a>
    <a class="btn btn-primary active">Libretto</a>
</div>
<div class="container w-100">
    <h2 class="float-right"><%= locals.nome %> <%= locals.cognome %></h2>
</div>

<div class="container">
    <h2>Libretto</h2>
    <% if(locals.myPassed.length === 0) {%>
        <h2 class="text-center">Nessun voto registrato</h2>
    <% } %>
    <% for(var i=0; i < locals.myPassed.length; i++) {%>
    <div class="container border border-primary rounded" >
        <h2> <%= locals.myPassed[i].esame %> </h2>
        <% if(locals.myPassed[i].lode === true) {%>
            <h4> Valutazione: <%= locals.myPassed[i].voto %> e lode</h4>
        <% }else{ %>
            <h4> Valutazione: <%= locals.myPassed[i].voto %></h4>
        <% } %>
    </div>
    <% } %>
</div>

</body>
</html>