<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {title: 'Libretto'}); %>
    <link href="css/student.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="fixed-top">
<%- include('partials/user.ejs'); %>
    <div class="container user">
        <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded w-100">
            <a class="navbar-brand"><i class="material-icons">school</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/exams">Prenota Esame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registrations">Iscrizioni</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/passed">Libretto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container student">
    <h2 class="text-center">Libretto</h2>
    <% if(locals.myPassed.length === 0) {%>
        <h3 class="text-center">Nessun voto registrato</h3>
    <% }else{ %>
        <h3>Media: <%= locals.mean %></h3>
    <%}%>
    <% for(var i=0; i < locals.myPassed.length; i++) {%>
    <div class="container border border-primary rounded exam" >
        <h3> <%= locals.myPassed[i].esame %> </h3>
        <% if(locals.myPassed[i].lode === true) {%>
            <h5> Valutazione: <%= locals.myPassed[i].voto %> e lode</h5>
        <% }else{ %>
            <h5> Valutazione: <%= locals.myPassed[i].voto %></h5>
        <% } %>
    </div>
    <% } %>
</div>

</body>
</html>