<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Registra voto'}); %>
<body>
<%- include('partials/user.ejs'); %>

<div class="btn-group btn-group-lg w-100 p-3">
    <a class="btn btn-primary" href="/addStudent">Aggiungi Studente</a>
    <a class="btn btn-primary" href="/remStudent">Rimuovi Studente</a>
    <a class="btn btn-primary" href="/addExam">Aggiungi Esame</a>
    <a class="btn btn-primary active">Registra Voto</a>
</div>

<div class="container w-100">
    <h2 class="float-right"><%= locals.nome %> <%= locals.cognome %></h2>
</div>



<div class="container">
    <h2>Registra voto</h2>
    <form method="post">
        <div class="form-group">
            <label for="studente">Matricola studente:</label>
            <input type="number" class="form-control" id="studente" name="studente" min="10000" max="9999999"required>
        </div>
        <div class="form-group">
            <label for="esame">Esame:</label>
            <input type="text" class="form-control" id="esame" name="esame" required>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-11">
                    <label for="voto">Voto:</label>
                    <input type="number" class="form-control" id="voto" name="voto" min="18" max="30" required>
                </div>
                <div class="col-1 text-center">
                    <label for="lode" >Lode:</label>
                    <input type="checkbox" class="form-control" id="lode" name="lode">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registra</button>
        </div>
        <%- include('partials/error.ejs', {action: 'regGrade'})%>
    </form>
</div>

</body>
</html>