<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Iscrizioni'}); %>
<body>

<div class="btn-group btn-group-lg w-100 p-3">
    <a class="btn btn-primary" href="/exams">Prenota Esame</a>
    <a class="btn btn-primary active">Iscrizioni</a>
    <a class="btn btn-primary" href="/passed">Libretto</a>
</div>
<div class="container w-100">
    <h2 class="float-right"><%= locals.nome %> <%= locals.cognome %></h2>
</div>

<div class="container">
    <h2>Iscrizioni</h2>
    <%- include('partials/error.ejs', {action: 'registrations'})%>
    <% if(locals.myRegistrations.length == 0) {%>
        <h2 class="text-center">Nessuna iscrizione effettuata</h2>
    <% } %>
    <% for(var i=0; i < locals.myRegistrations.length; i++) {%>
    <div class="container border border-primary rounded" id=<%=locals.myRegistrations[i]._id%> >
        <form method="post">
            <h2> <%= locals.myRegistrations[i].nomeEsame %> </h2>
            <input type="hidden" name="id" value="<%= locals.myRegistrations[i]._id%>">
            <button type="submit" class="btn btn-primary float-right">Annulla iscrizione</button>
            <h4> <%= locals.myRegistrations[i].data.getDate() %>/<%= locals.myRegistrations[i].data.getMonth() + 1 %>/<%= locals.myRegistrations[i].data.getFullYear() %> </h4>
        </form>
    </div>
    <% } %>
</div>

</body>
</html>