<!-- views/registrations.ejs -->
<!-- Pagina per visualizzare e annullare le iscrizioni agli esami -->
<!-- Accessibile solo allo studente -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {title: 'Iscrizioni'}); %>
    <link href="css/student.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="fixed-top">
<%- include('partials/user.ejs'); %>
    <div class="container user">
        <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded w-100">
            <a class="navbar-brand"><i class="material-icons">school</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/exams">Prenota Esame</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/registrations">Iscrizioni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/passed">Libretto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container student">
    <h2 class="text-center">Iscrizioni</h2>
    <%- include('partials/error.ejs', {action: 'registrations'})%>
    <%- include('partials/success.ejs', {action: 'registrations'})%>
    <% if(locals.myRegistrations.length === 0) {%>
        <h3 class="text-center">Nessuna iscrizione effettuata</h3>
    <% } %>
    <% const date = new Date();%>
    <% for(let i=0; i < locals.myRegistrations.length; i++) {%>
    <div class="container border border-primary rounded exam" id=<%=locals.myRegistrations[i]._id%> >
        <form method="post" action="/registrations">
            <div class="row">
                <div class="col-12">
                    <h3> <%= locals.myRegistrations[i].nomeEsame %> </h3>
                    <input type="hidden" name="id" value="<%= locals.myRegistrations[i]._id%>">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5> <%= locals.myRegistrations[i].data.getDate() %>/<%= locals.myRegistrations[i].data.getMonth() + 1 %>/<%= locals.myRegistrations[i].data.getFullYear() %> </h5>
                </div>
                <div class="col">
                    <% if(locals.myRegistrations[i].data.getTime() > date.getTime()){ %>
                        <button type="submit" class="btn btn-primary float-right">Annulla iscrizione</button>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
    <% } %>
</div>
</body>
</html>